extends ../layout.pug

block prepend styles
  link(rel='stylesheet' href='//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css')

block content
  div(class='breadcrumb')
    a(href='/passenger/add') PassengerAdd  
    a(href='/passenger/edit') PassengerEdit  
    a(href='/passenger/remove') PassengerRemove  
  
  form(id='ticket-edit-form' name='ticket-edit-form' class='form-inline' action='')
    div(class="form-group")
      div(class="col-md-3")
        label(for="Id") Id
      div(class="col-md-9")
        input(id="Id" name="Id" value="" class="form-control")
    div(class="form-group")
      div(class="col-md-3")
        label(for="trainId") Train Id
      div(class="col-md-9")
        input(id="trainId" name="trainId" value="" class="form-control")
    div(class="form-group")
      div(class="col-md-3")
        label(for="passengerId") Passenger Id
      div(class="col-md-9")
        input(id="passengerId" name="passengerId" value="" class="form-control")
      div(class='form-group')
        div(class='col-md-12')
          button(type='submit' class='btn btn-primary') Edit
block append scripts
  script(src='/static/js/models/ticket.js')
  script(src='//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
  script(src='/static/js/views/ticket.js')
      